<p id="notice"><%= notice %></p>

<p>
  <strong>Nome Completo:</strong>
  <%= @paciente.nomeCompleto %>
</p>

<p>
  <strong>Data de Nascimento:</strong>
  <%= @paciente.dataNascimento %>
</p>

<p>
  <strong>Cpf:</strong>
  <%= @paciente.cpf %>
</p>

<p>
  <strong>Email:</strong>
  <%= @paciente.email %>
</p>

<p>
  <strong>Consultas Marcadas:</strong><br> 
  <table>
  <thead>
    <tr>
      <th>Data</th>
      <th>Horario</th>
      <th>Medico</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @paciente.consultum.each do |consultum| %>
      <tr>
        <td><%= consultum.data %></td>
        <td><%= consultum.horario %></td>
        <td><%= consultum.medico.nomeCompleto %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</p>

<%= link_to 'Editar', edit_paciente_path(@paciente) %> 
<%= link_to 'Voltar', pacientes_path %>
