<p id="notice"><%= notice %></p>

<p>
  <strong>Nome Completo:</strong>
  <%= @paciente.nomeCompleto %>
</p>

<p>
  <strong>Data de Nascimento:</strong>
  <%= @paciente.dataNascimento %>
</p>

<p>
  <strong>Cpf:</strong>
  <%= @paciente.cpf %>
</p>

<p>
  <strong>Email:</strong>
  <%= @paciente.email %>
</p>

<%= link_to 'Editar', edit_paciente_path(@paciente) %> |
<%= link_to 'Voltar', pacientes_path %>
