<p id="notice"><%= notice %></p>

<p>
  <strong>Data:</strong>
  <%= @consultum.data %>
</p>

<p>
  <strong>Horario:</strong>
  <%= @consultum.horario %>
</p>

<p>
  <strong>Medico:</strong>
  <%= @consultum.medico.nome_completo %>
</p>

<p>
  <strong>Paciente:</strong>
  <%= @consultum.paciente.nome_completo %>
</p>

<%= link_to 'Edit', edit_consultum_path(@consultum) %> |
<%= link_to 'Back', consulta_path %>
