<%= form_with(model: medico) do |form| %>
  <% if medico.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(medico.errors.count, "error") %> prohibited this medico from being saved:</h2>

      <ul>
        <% medico.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nomeCompleto %>
    <%= form.text_field :nomeCompleto %>
  </div>

  <div class="field">
    <%= form.label :dataNascimento %>
    <%= form.date_field :dataNascimento%>
  </div>

  <div class="field">
    <%= form.label :cpf %>
    <%= form.text_field :cpf %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :especialidade %>
    <%= form.text_field :especialidade %>
  </div>

  <div class="field">
    <%= form.label :crm %>
    <%= form.text_field :crm %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
