<p id="notice"><%= notice %></p>

<p>
  <strong>Nome Completo:</strong>
  <%= @medico.nomeCompleto %>
</p>

<p>
  <strong>Data de Nascimento:</strong>
  <%= @medico.dataNascimento %>
</p>

<p>
  <strong>Cpf:</strong>
  <%= @medico.cpf %>
</p>

<p>
  <strong>Email:</strong>
  <%= @medico.email %>
</p>

<p>
  <strong>Especialidade:</strong>
  <%= @medico.especialidade %>
</p>

<p>
  <strong>Crm:</strong>
  <%= @medico.crm %>
</p>

<p>
  <strong>Consultas Marcadas:</strong><br> 
  <table>
  <thead>
    <tr>
      <th>Data</th>
      <th>Horario</th>
      <th>Paciente</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @medico.consultum.each do |consultum| %>
      <tr>
        <td><%= consultum.data %></td>
        <td><%= consultum.horario %></td>
        <td><%= consultum.paciente.nomeCompleto %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</p>

<%= link_to 'Editar', edit_medico_path(@medico) %> |
<%= link_to 'Voltar', medicos_path %>
