<p id="notice"><%= notice %></p>

<p>
  <strong>Nome Completo:</strong>
  <%= @medico.nomeCompleto %>
</p>

<p>
  <strong>Data de Nascimento:</strong>
  <%= @medico.dataNascimento %>
</p>

<p>
  <strong>Cpf:</strong>
  <%= @medico.cpf %>
</p>

<p>
  <strong>Email:</strong>
  <%= @medico.email %>
</p>

<p>
  <strong>Especialidade:</strong>
  <%= @medico.especialidade %>
</p>

<p>
  <strong>Crm:</strong>
  <%= @medico.cpf %>
</p>

<%= link_to 'Editar', edit_medico_path(@medico) %> |
<%= link_to 'Voltar', medicos_path %>
